@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --primary: #89ff00;
  --secondary: #00bcd4;
  --tertiary: #85bb65;

  --bg-primary: #010615;
  --bg-secondary: #060c21;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--tertiary) #ccc;
}

body {
  background-color: var(--bg-primary);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-primary);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--tertiary);
}
